<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/main.min.js"></script>

<script src="{{ '/assets/js/datetime.js' | relative_url }}"></script>

<!-- https://analytics.google.com/analytics/ -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XNJQXVMC0H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XNJQXVMC0H'); 
</script>


<!-- <script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div> -->